#cartWidget{
    background-color: rgba(23, 23, 23, 0);
    border: none;
    a{
        @include flex(row, nowrap, space-between, center, 0);
        color: black;
        position: relative;
        transition: all .3s;
        span{
            position: absolute;
            top: -5px;
            right: -5px;
            align-self: start;
            background-color: $orange;
            color: $white;
            border-radius: 50%;
            font-weight: 600;
            font-size: 9px;
            padding: $space-6 $space-8;
            transition: all .3s;
        }
    }
}
#cartWidget:hover{
    a{
        color: $orange;
        span{
            background-color: $black;
        }
    }
}