#nav-icon3{
    width: $space-42;
    height: $space-24;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span{
        display: block;
        position: absolute;
        height: $space-6;
        width: 100%;
        background: $black;
        border-radius: $space-24;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    span:hover{
        background-color: $black-strong;
    }
    
    span:nth-child(1){
        top: 0px;
    }
    span:nth-child(2), span:nth-child(3){
        top: 12px;
    }
    span:nth-child(4){
        top: 24px;
    }
}

#nav-icon3.open{
    span:nth-child(1){
        top: 18px;
        width: 0%;
        left: 50%;
    }
    span:nth-child(2){
        transform: rotate(45deg);
    }
    span:nth-child(3){
        transform: rotate(-45deg);
    }
    span:nth-child(4){
        top: 18px;
        width: 0%;
        left: 50%;
    }
}