.card__container{
    background-color: $white;
    padding: $space-32;
    position: relative;
    cursor: pointer;
    max-height: 48rem;
    .card{
        @include flex(column, nowrap, space-between, center, $space-16);
        max-width: 24rem;
        height: 100%;
        .card__title{
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: $font-28;
            line-height: $space-32;
            color: $grey;
        }
        .card__img{
            width: 100%;
            object-fit: cover;
        }
        .card__subtitle{
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: $font-16;
            line-height: $space-24;
            color: $grey;
        }
        .card__footer{
            background-color: $black;
            align-self: end;
            min-width: 12rem;
            text-align: center;
            padding: $space-8;
            .price{
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: $font-16;
                line-height: $space-24;
                color: $white;
            }
        }
    }
    .viewDetailModal {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: $orange-op90;
        display: grid;
        place-items: center;
        animation: growUp .2s linear forwards;
        .viewDetail{
            // box
            background-color: $black;
            padding: $space-12 $space-32;
            // font
            color: $white;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-size: $font-16;
        }
        .viewDetail:hover{
            background-color: $black-strong;
        }
    }
    .viewDetailModal.hidden{
        animation: shrinkDown .2s linear forwards;
        .viewDetail{
            display: none;
        }
    }
    .viewDetailModal.visible{
        height: 100%;
    }
}

