.header{
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: $white-op90;
    @include grid-container(10vw auto 10vw, auto);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    .container{
        grid-column: 2/3;
        max-width: 144rem;
        width: 100%;
        @include flex(row, nowrap, space-between, center, $space-64);
        padding: $space-16 0;
        #brand{
            #brandIcon{
                width: 7rem;
            }
        }
        .header__navbar{
            @include flex(row, nowrap, space-between, center, 0);
            width: 100%;
            .navbar__list{
                @include flex(row, nowrap, space-between, center, $space-16);
                list-style: none;
                .listItem{
                    .navBtn{
                        color: $black;
                        font-size: $font-14;
                        font-weight: 600;
                        padding: 0.6rem 1.8rem;
                        border-radius: 2.5rem;
                        transition: all .3s;
                    }
                    .navBtn:hover{
                        background-color: $white;
                        color: $orange;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }
                }
                #callToActionBtn{
                    cursor: pointer;
                    background-color: $black;
                    padding: $space-6 $space-18;
                    border-radius: 2.5rem;
                    #callToAction{
                        a{
                            color: $orange;
                            padding-left: $space-8;
                            transition: all .3s;
                        }
                        svg{
                            padding-top: 2px;
                            height: $space-20;
                            width: $space-20;
                            fill: $orange;
                        }
                    }
                }
                #callToActionBtn:hover{
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    #callToAction{
                        a{
                            color: $white;
                        }
                        svg{
                            fill: $white;
                        }
                    }
                }
            }
            .navbar__misc{
                @include flex(row, nowrap, space-between, center, $space-16);
                list-style: none;
                #userWidgetBtn{
                    padding-top: $space-6;
                }
            }
        }
    }
}
