#home{
    margin-top: $space-90;
    #welcome{
        @include grid-container(10vw auto 10vw, auto);
        padding: $space-64 0;
        background-color: $black;
        .welcome__container{
            grid-column: 2/3;
            @include flex(row, wrap, space-between, start, 0);
            #welcome__left{
                @include flex(column, nowrap, space-between, start, $space-128);
                background-color: $orange;
                padding: $space-32 $space-64;
                max-width: 64rem;
                .left__header{
                    @include flex(column, nowrap, space-between, start, $space-16);
                    h1{
                        font-family: 'Righteous', sans-serif;
                        font-weight: 600;
                        font-size: $font-94;
                        color: $white;
                    }
                    #line{
                        background-color: $white;
                        height: $space-6;
                        width: 20rem;
                    }
                    p{
                        color: $white;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: $font-32;
                        line-height: $space-80;
                        letter-spacing: 0.1em;
                    }
                }
                #callToAction{
                    align-self: end;
                    a{
                        color: $white;
                        font-weight: 400;
                        font-size: 24px;
                        transition: all .3s;
                        svg{
                            align-self: end;
                            height: $space-32;
                            width: $space-32;
                        }
                    }
                }
                #callToAction:hover{
                    a{
                        color: $black;
                    }
                }
            }
        }
    }
}