@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  height: 100%;
}

.container {
  margin: 0 auto;
}

#callToAction {
  background-color: rgba(23, 23, 23, 0);
  border: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
#callToAction a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}
#callToAction svg {
  align-self: center;
}

#scrollToTop {
  background-color: rgba(23, 23, 23, 0);
  border: none;
  color: rgb(242, 100, 25);
  cursor: pointer;
  transition: all 0.3s;
}

#scrollToTop:hover {
  background-color: rgba(23, 23, 23, 0);
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#gallery {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 1.6rem;
  row-gap: 0.8rem;
  position: relative;
  width: 768px;
}
#gallery #img1 {
  grid-column: 1/2;
  grid-row: 1/3;
  max-width: 25.5rem;
  height: 100%;
  object-fit: cover;
}
#gallery #img2 {
  border-radius: 0 60px 0 0;
  grid-column: 2/4;
  grid-row: 1/2;
  max-width: 49.6rem;
  height: 100%;
  object-fit: cover;
}
#gallery #img3 {
  grid-column: 2/3;
  grid-row: 2/3;
  max-width: 24rem;
  height: 100%;
  object-fit: cover;
}
#gallery #img4 {
  grid-column: 3/4;
  grid-row: 2/3;
  max-width: 24rem;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1640px) {
  #gallery #img2 {
    border-radius: 0 0 0 0px;
  }
}
#categoryBtn #categoryButton {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  border-radius: 2.5rem;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.6rem 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: all 0.3s;
}
#categoryBtn #categoryButton svg {
  height: 2rem;
  width: 2rem;
  align-self: end;
}
#categoryBtn #categoryButton:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgb(242, 100, 25);
}

#catPanel {
  margin-top: 1rem;
  padding: 1.6rem;
  width: 13rem;
  background-color: rgb(242, 100, 25);
  border-radius: 4px;
  position: absolute;
  z-index: 4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#catPanel .catPanel__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  list-style: none;
}
#catPanel .catPanel__list .catPanel__item {
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}
#catPanel .catPanel__list .catPanel__item a {
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  transition: all 0.3s;
}
#catPanel .catPanel__list .catPanel__item:hover a {
  color: rgb(31, 31, 31);
}

#cartWidget {
  background-color: rgba(23, 23, 23, 0);
  border: none;
}
#cartWidget a {
  color: black;
}

#cartWidget:hover a {
  transition: all 0.3s;
  color: rgb(242, 100, 25);
}

#contactForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 3.2rem 0;
  gap: 1.6rem;
}
#contactForm .contactForm__field {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  gap: 0;
}
#contactForm .contactForm__field .field__label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 2.4rem;
  color: rgb(72, 74, 71);
}
#contactForm .contactForm__field .field__input {
  font-size: 1.6em;
  font-style: normal;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 2.4rem;
  color: rgb(72, 74, 71);
  width: 100%;
  padding: 0.6rem;
  border: rgba(72, 74, 71, 0.8) solid 1px;
  border-radius: 4px;
  transition: all 1s;
}
#contactForm .contactForm__field .field__input:focus {
  outline: none;
}
#contactForm #contactForm__field--asunto {
  grid-column: 1/3;
}
#contactForm #contactForm__field--mensaje {
  grid-column: 1/3;
}
#contactForm #contactForm__field--archivo {
  grid-column: 1/3;
  padding: 0.6rem;
  border: rgba(72, 74, 71, 0.8) solid 1px;
  border-radius: 4px;
}
#contactForm #contactForm__field--archivo #field__input--archivo {
  position: absolute;
  left: -9999px;
}
#contactForm #contactForm__field--archivo #field__label--archivo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 0.6rem;
  padding: 1.6rem;
}
#contactForm #contactForm__field--archivo #field__label--archivo svg {
  color: rgb(72, 74, 71);
}
#contactForm #contactForm__field--archivo #field__label--archivo p {
  font-size: 1.6em;
  font-style: normal;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 2.4rem;
  color: rgb(72, 74, 71);
}
#contactForm #contactForm__submit {
  cursor: pointer;
  grid-column: 2/3;
  justify-self: end;
  max-width: 12rem;
  padding: 0.8rem 1.6rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.6em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(242, 100, 25);
  border: none;
  transition: all 0.3s;
}
#contactForm #contactForm__submit:hover {
  background-color: rgba(242, 100, 25, 0.9);
}

#footer {
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: auto;
  padding: 6.4rem 0;
}
#footer .footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  grid-column: 2/3;
  max-width: 144rem;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(31, 31, 31);
  padding: 3.2rem;
}
#footer .footer__container .footer__article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 12.8rem;
  text-align: center;
}
#footer .footer__container .footer__article .article__header .header__figure .figure__img {
  width: 24rem;
}
#footer .footer__container .footer__article .article__header .header__title {
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
#footer .footer__container .footer__article .article__rights {
  color: rgb(255, 255, 255);
  font-weight: 400;
  align-self: start;
}
#footer .footer__container .footer__navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;
  gap: 12.8rem;
}
#footer .footer__container .footer__navbar .navbar__socialmedia {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;
  gap: 1.6rem;
}
#footer .footer__container .footer__navbar .navbar__socialmedia a {
  color: rgb(255, 255, 255);
  transition: all 0.3s;
}
#footer .footer__container .footer__navbar .navbar__socialmedia a:hover {
  color: rgb(242, 100, 25);
}

.card__container {
  background-color: rgb(255, 255, 255);
  padding: 3.2rem;
  position: relative;
  cursor: pointer;
  max-height: 48rem;
}
.card__container .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  max-width: 24rem;
  height: 100%;
}
.card__container .card .card__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8em;
  line-height: 3.2rem;
  color: rgb(72, 74, 71);
}
.card__container .card .card__img {
  width: 100%;
  object-fit: cover;
}
.card__container .card .card__subtitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 2.4rem;
  color: rgb(72, 74, 71);
}
.card__container .card .card__footer {
  background-color: rgb(31, 31, 31);
  align-self: end;
  min-width: 12rem;
  text-align: center;
  padding: 0.8rem;
}
.card__container .card .card__footer .price {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 2.4rem;
  color: rgb(242, 100, 25);
}
.card__container .viewDetailModal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(242, 100, 25, 0.9);
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.card__container .viewDetailModal .viewDetail {
  background-color: rgb(31, 31, 31);
  padding: 1.2rem 3.2rem;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.6em;
  transition: all 0.3s;
}
.card__container .viewDetailModal .viewDetail:hover {
  background-color: rgba(31, 31, 31, 0.9);
}
.card__container .viewDetailModal:hover {
  opacity: 1;
}

#itemDetail {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  max-width: 144rem;
  min-height: 64rem;
  margin: 0 auto;
}
#itemDetail #iitemDetail__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 3.2rem;
  max-width: 64rem;
  padding: 3.2rem 6.4rem;
  background-color: rgb(255, 255, 255);
}
#itemDetail #iitemDetail__content #content__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  gap: 3.2rem;
}
#itemDetail #iitemDetail__content #content__text #title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 4.2em;
  line-height: 4.8rem;
  color: rgb(31, 31, 31);
}
#itemDetail #iitemDetail__content #content__text #subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2.8em;
  color: rgb(31, 31, 31);
}
#itemDetail #iitemDetail__content #content__text #description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4em;
  color: rgb(31, 31, 31);
}
#itemDetail #iitemDetail__content #container__price {
  align-self: end;
}
#itemDetail #iitemDetail__content #container__price #price {
  text-align: end;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 3.6em;
  color: rgb(31, 31, 31);
}
#itemDetail #iitemDetail__content #content__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
#itemDetail #iitemDetail__content #content__buttons #addToCart {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(242, 100, 25);
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
  padding: 0.8rem 2.4rem;
  text-align: center;
  transition: all 0.3s;
}
#itemDetail #iitemDetail__content #content__buttons #addToCart:hover {
  background-color: rgba(242, 100, 25, 0.9);
}
#itemDetail #itemDetail__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  max-width: 48rem;
  gap: 1.6rem;
  padding: 3.2rem;
  background-color: rgb(242, 100, 25);
}
#itemDetail #itemDetail__gallery #img1 {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
#itemDetail #itemDetail__gallery #img2 {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
#itemDetail #itemDetail__gallery #img3 {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

#itemDetailContainer {
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: auto;
  margin-top: 9rem;
  padding: 9rem 0 12.8rem;
  min-height: calc(100vh - 9rem);
  background-color: rgb(31, 31, 31);
}
#itemDetailContainer #loader__container {
  grid-column: 2/3;
  display: grid;
  place-items: center;
}

#itemList {
  grid-column: 2/3;
  max-width: 144rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  row-gap: 6.4rem;
  column-gap: 3.2rem;
}

#itemListContainer {
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: auto;
  margin-top: 9rem;
  padding: 6.4rem 0;
  min-height: 91vh;
  background-color: rgb(31, 31, 31);
}
#itemListContainer #loader__container {
  grid-column: 2/3;
  max-width: 144rem;
  display: grid;
  place-items: center;
  margin: auto;
}

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header .container {
  grid-column: 2/3;
  max-width: 144rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 6.4rem;
  padding: 1.6rem 0;
}
.header .container #brand #brandIcon {
  width: 7rem;
}
.header .container .header__navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
.header .container .header__navbar .navbar__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  list-style: none;
}
.header .container .header__navbar .navbar__list .listItem .navBtn {
  color: rgb(31, 31, 31);
  font-size: 1.4em;
  font-weight: 600;
  padding: 0.6rem 1.8rem;
  border-radius: 2.5rem;
  transition: all 0.3s;
}
.header .container .header__navbar .navbar__list .listItem .navBtn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(242, 100, 25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header .container .header__navbar .navbar__list #callToActionBtn {
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  padding: 0.6rem 1.8rem;
  border-radius: 2.5rem;
}
.header .container .header__navbar .navbar__list #callToActionBtn #callToAction a {
  color: rgb(242, 100, 25);
  padding-left: 0.8rem;
  transition: all 0.3s;
}
.header .container .header__navbar .navbar__list #callToActionBtn #callToAction svg {
  padding-top: 2px;
  height: 2rem;
  width: 2rem;
  fill: rgb(242, 100, 25);
}
.header .container .header__navbar .navbar__list #callToActionBtn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header .container .header__navbar .navbar__list #callToActionBtn:hover #callToAction a {
  color: rgb(255, 255, 255);
}
.header .container .header__navbar .navbar__list #callToActionBtn:hover #callToAction svg {
  fill: rgb(255, 255, 255);
}
.header .container .header__navbar .navbar__misc {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  list-style: none;
}
.header .container .header__navbar .navbar__misc #userWidgetBtn {
  padding-top: 0.6rem;
}

#userWidget {
  background-color: rgba(23, 23, 23, 0);
  border: none;
}
#userWidget a {
  color: black;
}

#userWidget:hover a {
  transition: all 0.3s;
  color: rgb(242, 100, 25);
}

#itemCount {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  height: 100%;
  min-width: 14rem;
  background-color: rgb(31, 31, 31);
}
#itemCount .itemCount__btn {
  cursor: pointer;
  text-align: center;
  background-color: rgba(23, 23, 23, 0);
  border: none;
  height: 100%;
  padding: 0 1.6rem;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  transition: all 0.3s;
}
#itemCount .itemCount__btn:hover {
  background-color: rgb(242, 100, 25);
  color: rgb(31, 31, 31);
}
#itemCount .itemCount__counter {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-width: 3.2rem;
}

#loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: rgb(242, 100, 25) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#popularProducts {
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: auto;
  padding: 6.4rem 0 12.8rem;
  background-color: rgb(255, 164, 0);
}
#popularProducts .popularProducts__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  grid-column: 2/3;
  max-width: 144rem;
  margin: 0 auto;
}
#popularProducts .popularProducts__container .popularProdcuts__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 4.2em;
  line-height: 6.4rem;
  color: rgb(255, 255, 255);
  text-align: center;
}
#popularProducts .popularProducts__container #itemList .card__container .viewDetailModal {
  background-color: rgba(31, 31, 31, 0.8);
}

#home {
  margin-top: 9rem;
}
#home #welcome {
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: auto;
  padding: 6.4rem 0;
  background-color: rgb(31, 31, 31);
}
#home #welcome .welcome__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1.6rem;
  grid-column: 2/3;
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}
#home #welcome .welcome__container #welcome__left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 8rem;
  padding: 3.2rem 6.4rem;
  max-width: 58rem;
  background-color: rgb(242, 100, 25);
  border-radius: 0 0 0 60px;
}
#home #welcome .welcome__container #welcome__left .left__header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 1.6rem;
}
#home #welcome .welcome__container #welcome__left .left__header h1 {
  font-family: "Righteous", sans-serif;
  font-weight: 600;
  font-size: 8.6em;
  color: rgb(255, 255, 255);
}
#home #welcome .welcome__container #welcome__left .left__header #line {
  background-color: rgb(255, 255, 255);
  height: 4px;
  width: 20rem;
}
#home #welcome .welcome__container #welcome__left .left__header p {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.8em;
  line-height: 8rem;
}
#home #welcome .welcome__container #welcome__left #callToAction {
  align-self: end;
}
#home #welcome .welcome__container #welcome__left #callToAction a {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 24px;
  transition: all 0.3s;
}
#home #welcome .welcome__container #welcome__left #callToAction a svg {
  align-self: end;
  height: 3.2rem;
  width: 3.2rem;
}
#home #welcome .welcome__container #welcome__left #callToAction:hover a {
  color: rgb(31, 31, 31);
}

@media (max-width: 1640px) {
  #home #welcome .welcome__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
  }
  #home #welcome .welcome__container #welcome__left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: start;
    gap: 8rem;
    padding: 3.2rem 6.4rem;
    max-width: 76.8rem;
    background-color: rgb(242, 100, 25);
    border-radius: 0 60px 0 0;
  }
}
#aboutUs__spazzio {
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: auto;
  margin-top: 9rem;
  padding: 6.4rem 0;
  background-color: rgb(242, 100, 25);
}
#aboutUs__spazzio .spazzio__container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  max-width: 144rem;
  margin: 0 auto;
  grid-column: 2/3;
  row-gap: 3.2rem;
  column-gap: 3.2rem;
}
#aboutUs__spazzio .spazzio__container #spazzio__history {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  grid-column: 1/2;
  grid-row: 1/3;
  max-width: 65.4rem;
}
#aboutUs__spazzio .spazzio__container #spazzio__history .history__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 3.2rem;
  padding-bottom: 6.4rem;
  column-gap: 3.2rem;
  background-color: rgb(31, 31, 31);
}
#aboutUs__spazzio .spazzio__container #spazzio__history .history__top .top__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  grid-column: 2/3;
  grid-row: 1/3;
}
#aboutUs__spazzio .spazzio__container #spazzio__history .history__top .top__container .history__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2em;
  color: rgb(255, 255, 255);
  text-align: center;
}
#aboutUs__spazzio .spazzio__container #spazzio__history .history__top .top__container .history__bio {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 2.4rem;
  color: rgb(255, 255, 255);
  text-align: center;
}
#aboutUs__spazzio .spazzio__container #spazzio__history .history__top .history__figure {
  grid-column: 1/2;
  grid-row: 1/3;
}
#aboutUs__spazzio .spazzio__container #spazzio__history .history__quote {
  display: grid;
  place-items: center;
  height: 100%;
  padding: 3.2rem;
  background-color: rgb(255, 255, 255);
}
#aboutUs__spazzio .spazzio__container #spazzio__history .history__quote .quote__txt {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 2.4rem;
  color: rgb(72, 74, 71);
  text-align: center;
}
#aboutUs__spazzio .spazzio__container #spazzio__workshop {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  grid-column: 2/3;
  grid-row: 1/2;
}
#aboutUs__spazzio .spazzio__container #spazzio__workshop .workshop__figure {
  height: 100%;
  background-color: rgb(31, 31, 31);
}
#aboutUs__spazzio .spazzio__container #spazzio__workshop .workshop__figure .figure__img {
  height: 100%;
  display: block;
  margin: 0 auto;
  max-width: 44.6rem;
  object-fit: cover;
}
#aboutUs__spazzio .spazzio__container #spazzio__workshop .workshop__history {
  display: grid;
  place-items: center;
  height: 100%;
  padding: 3.2rem;
  background-color: rgb(255, 255, 255);
}
#aboutUs__spazzio .spazzio__container #spazzio__workshop .workshop__history .history__txt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: center;
  color: rgb(72, 74, 71);
}
#aboutUs__spazzio .spazzio__container #spazzio__bio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  grid-column: 2/3;
  grid-row: 2/3;
}
#aboutUs__spazzio .spazzio__container #spazzio__bio .bio__history {
  display: grid;
  place-items: center;
  height: 100%;
  padding: 3.2rem;
  background-color: rgb(255, 255, 255);
}
#aboutUs__spazzio .spazzio__container #spazzio__bio .bio__history .history__txt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: center;
  color: rgb(72, 74, 71);
}
#aboutUs__spazzio .spazzio__container #spazzio__bio .bio__figure {
  height: 100%;
  background-color: rgb(31, 31, 31);
}
#aboutUs__spazzio .spazzio__container #spazzio__bio .bio__figure .figure__img {
  height: 100%;
  display: block;
  margin: 0 auto;
  max-width: 44.6rem;
  object-fit: cover;
}

@media (max-width: 1680px) {
  #aboutUs__spazzio .spazzio__container {
    row-gap: 0px;
    column-gap: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 3.2rem;
  }
  #aboutUs__spazzio .spazzio__container #spazzio__history {
    max-width: 65rem;
  }
  #aboutUs__spazzio .spazzio__container #spazzio__workshop {
    max-width: 65rem;
  }
  #aboutUs__spazzio .spazzio__container #spazzio__workshop .workshop__figure .figure__img {
    max-width: 35rem;
  }
  #aboutUs__spazzio .spazzio__container #spazzio__bio {
    max-width: 65rem;
  }
  #aboutUs__spazzio .spazzio__container #spazzio__bio .bio__figure .figure__img {
    max-width: 35rem;
  }
}
#aboutUs__industrial {
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: auto;
  padding: 6.4rem 0;
  background-color: rgb(31, 31, 31);
}
#aboutUs__industrial .industrial__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column: 2/3;
  column-gap: 3.2rem;
  max-width: 144rem;
  margin: 0 auto;
}
#aboutUs__industrial .industrial__container .industrial__plant {
  display: flex;
  flex-direction: column;
  flex-wrap: norwap;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  background-color: rgb(255, 255, 255);
}
#aboutUs__industrial .industrial__container .industrial__plant .plant__text {
  display: grid;
  place-items: center;
  padding: 3.2rem;
  background-color: rgb(255, 255, 255);
}
#aboutUs__industrial .industrial__container .industrial__plant .plant__text .text__p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: center;
  color: rgb(72, 74, 71);
}
#aboutUs__industrial .industrial__container .industrial__plant .plant__figure {
  width: 100%;
  height: 100%;
}
#aboutUs__industrial .industrial__container .industrial__plant .plant__figure .figure__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#aboutUs__industrial .industrial__container .industrial__design {
  display: flex;
  flex-direction: column;
  flex-wrap: norwap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: rgb(255, 255, 255);
}
#aboutUs__industrial .industrial__container .industrial__design .design__figure {
  width: 100%;
  height: 100%;
}
#aboutUs__industrial .industrial__container .industrial__design .design__figure .figure__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#aboutUs__industrial .industrial__container .industrial__design .design__text {
  display: grid;
  place-items: center;
  padding: 3.2rem;
  background-color: rgb(255, 255, 255);
}
#aboutUs__industrial .industrial__container .industrial__design .design__text .text__p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: center;
  color: rgb(72, 74, 71);
}

@media (max-width: 1680px) {
  #aboutUs__industrial .industrial__container {
    row-gap: 0px;
    column-gap: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 3.2rem;
  }
  #aboutUs__industrial .industrial__container .industrial__plant {
    max-width: 65rem;
  }
  #aboutUs__industrial .industrial__container .industrial__design {
    max-width: 65rem;
  }
}
#contactUs {
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: auto;
  margin-top: 9rem;
  padding: 6.4rem 0;
  background-color: rgb(31, 31, 31);
}
#contactUs .contactUs__container {
  display: grid;
  grid-template-columns: minmax(440px, 720px) auto;
  grid-template-rows: auto;
  grid-column: 2/3;
  max-width: 144rem;
  margin: 0 auto;
  box-shadow: -1px 1px 9px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 9px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 9px 1px rgba(0, 0, 0, 0.75);
}
#contactUs .contactUs__container #contactUs__form {
  padding: 3.2rem 6.4rem;
  background-color: rgb(255, 255, 255);
}
#contactUs .contactUs__container #contactUs__form .form__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4em;
  line-height: 3.6rem;
  color: rgb(31, 31, 31);
}
#contactUs .contactUs__container #contactUs__links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 3.2rem;
  padding: 3.2rem 6.4rem;
  background-color: rgb(242, 100, 25);
}
#contactUs .contactUs__container #contactUs__links .links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
}
#contactUs .contactUs__container #contactUs__links .links figure {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  place-items: center;
  max-width: fit-content;
  padding: 1.6rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12.8rem;
}
#contactUs .contactUs__container #contactUs__links .links figure svg {
  height: 3.2rem;
  width: 3.2rem;
  color: rgb(72, 74, 71);
}
#contactUs .contactUs__container #contactUs__links .links div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 0.6rem;
}
#contactUs .contactUs__container #contactUs__links .links div h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6em;
  line-height: 2.4rem;
  color: rgb(255, 255, 255);
  max-width: 14.4rem;
}
#contactUs .contactUs__container #contactUs__links .links div p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 2.4rem;
  color: rgb(255, 255, 255);
  max-width: 14.4rem;
}
#contactUs .contactUs__container #contactUs__links .links div a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2.4rem;
  color: rgb(255, 255, 255);
  max-width: 14.4rem;
}

/*# sourceMappingURL=index.css.map */
